.main-div
{
    text-align: center;
    background-color: aqua;
    height: 400px;
    width: 600px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: green;
    margin: auto;
}